@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {

    min-height: 100vh;
    background-color: #baa08269;
    background-image: url('./fondo3.jpg');  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2, p, label {
    color:black
}